
.audioPlayerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .audioPlayerContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #006f8c;
  }
  
  .progressBar {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .volumeSlider {
    width: 100%;
  }
  
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .closeBtn:hover {
    background: darkred;
  }
  